

.big-title{
  font-size: 32px;
  font-weight: 800;
}
.title{
  font-size: 25px;
  font-weight: 700;
}
.small-title{
  font-size: 23px;
  font-weight: 600;
}
.text{
  font-size: 18px;
  font-weight: 400;
}
.strong{
  font-size: 18px;
  font-weight: 600;
}
.color-white{
  color: white;
}
.color-black {
  color: #393938;
}
.hide{
  display: none;
}
.button{
  border-radius: 40px;
  border: none;
  background-color: #393938;
  margin: auto;
}

.header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #393938;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 4px black;
}
.logo{
  margin: auto 20px;
  display: flex;
  align-items: center;
}
.logo-illustration > div {
  border: 7px solid red;
  height: 52px;
  width: 52px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-illustration > div > div {
  border: 3px solid red;
  height: 35px;
  width: 35px;
  border-radius: 30px;
}
.logo > span{
  font-size: 40px;
  font-family: 'Nova Script';
  color: red;
}
.user-image > img{
  width: 50px;
  height: 50px;
  border-radius: 24px;
}
.user-info-icons{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.user-info{
  width: auto;
  height: 80px;
  background-color: white;
  margin: 10px 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 40px;
  transition: border-radius 1s, width 1s, height 1s;
}
.user-info:hover > div{
  margin: 10px;
}
.user-info:hover{
  position: absolute;
  right: 0px;
  top: 0px;
  width: auto;
  height: 200px;
  background: #D9D9D9;
  border-radius: 0px 0px 12px 12px;
  display: flex;
  flex-direction: column;
  transition: border-radius 1s, width 1s, height 1s;
}
.user-info:hover > .hide{
  display: block;
}
.user-info:hover > div > div > .hide{
  display: inline;
}
.user-info > div > .user-icon{
  transform: rotate(0deg);
  transition: transform 1s;
}
.user-info:hover > div > .user-icon{
  transform: rotate(180deg);
  transition: transform 1s;
}
.login-button {
  width: 206px;
  height: 40px;
  margin: 10px auto;
}
