.big-title{
  font-size: 32px;
  font-weight: 800;
}
.title{
  font-size: 25px;
  font-weight: 700;
}
.small-title{
  font-size: 23px;
  font-weight: 600;
}
.text{
  font-size: 18px;
  font-weight: 400;
}
.strong{
  font-size: 18px;
  font-weight: 600;
}
.color-white{
  color: white;
}
.color-black {
  color: #393938;
}
.hide{
  display: none;
}
.button{
  border-radius: 40px;
  border: none;
  background-color: #393938;
  margin: auto;
}
.button-sec{
  border-radius: 40px;
  border: none;
  margin: auto;
  background-color: red;
  transition: background-color 1s, color 1s;
}
.button-sec:hover{
  background-color: white;
  color: #393938;
}
.button:hover{
  border: 4px solid white;
  background-color: #39393800;
  transition: background-color 1s, border 2s;
}
.bottom{
  position: fixed;
  bottom: 0px;
}
.all-width{
  width: 100%;
}
.bg-light{
  background-color: #4E4E50;
}
.disp-flex-col{
  display: flex;
  flex-direction: column;
}
.home{
  margin: 105px 0px 0px 70px;
  height: auto;
  min-height: 90vh;
  width: 90%;
}
.text-center{
  text-align: center;
}
.slider{
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
}
.slider::-webkit-scrollbar {
  display: none;
}

.header{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: #393938;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 4px black;
}
.logo{
  margin: auto 20px;
  display: flex;
  align-items: center;
}
.big-logo{
  margin: 0px 20px;
  display: flex;
  align-items: center;
}
.logo-illustration > div {
  border: 7px solid red;
  height: 52px;
  width: 52px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-illustration > div > div {
  border: 3px solid red;
  height: 35px;
  width: 35px;
  border-radius: 30px;
}
.big-logo-illustration > div {
  border: 3px solid red;
  height: 70px;
  width: 70px;
}
.zooming:hover{
  transform: scale(1.2);
}
.text-h-30px{
  line-height: 40px;
}
.disp-flex-nowrap{
  display: flex;
  flex-wrap: nowrap;
}

.logo > span{
  font-size: 40px;
  font-family: 'Nova Script';
  color: red;
}
.user-image > img{
  width: 50px;
  height: 50px;
  border-radius: 24px;
}
.user-info-icons{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.user-info{
  width: auto;
  height: 80px;
  background-color: white;
  margin: 10px 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 40px;
  transition: border-radius 1s, width 1s, height 1s;
}
.user-info:hover > div{
  margin: 10px;
}
.user-info:hover{
  position: absolute;
  right: 0px;
  top: 0px;
  width: auto;
  height: 200px;
  background: #D9D9D9;
  border-radius: 0px 0px 12px 12px;
  display: flex;
  flex-direction: column;
  transition: border-radius 1s, width 1s, height 1s;
}
.user-info:hover > .hide{
  display: block;
}
.user-info:hover > div > div > .hide{
  display: inline;
}
.user-info > div > .user-icon{
  transform: rotate(0deg);
  transition: transform 1s;
}
.user-info:hover > div > .user-icon{
  transform: rotate(180deg);
  transition: transform 1s;
}
.login-button {
  width: 206px;
  height: 40px;
  margin: 10px auto;
}
.nav-barre{
  margin: 0px 0px;
  width: 60px;
  position: fixed;
  height: 90vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
}
.nav-list{
  margin: 40px auto;
  margin-left: 10px;
}
.nav-list > div{
  margin: 20px 10px 20px 0px;
}
.nav-barre > legend{
  width: 90%;
  text-align: right;
}
.icon-legend{
  transform: rotate(180deg);
  transition: transform 1s;
}
.nav-barre:hover {
  width: 180px;
  transition: width 0.3s;
}
.nav-barre:hover > .nav-list > div > .link > .hide{
  display: inline;
  color: white;
  margin: 10px;
}
.nav-barre:hover > .nav-list > div > .link{
  text-decoration: none;
  margin-left: 15px;
}
.nav-barre:hover > legend > .icon-legend{
  transform: rotate(0deg);
}
.body{
  margin: 103px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login{
  width: 100%;
  height: 83vh;
  background-image: url('https://api.time.com/wp-content/uploads/2018/04/listening-to-music-headphones.jpg?quality=85&w=767');
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  background-color: rgba(10, 10, 10, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login > div{
  margin: 0px 50px;
} 
.home-body{
  width: 100%;
  margin-left: 20px;
}
.hello-card {
  color: #f5f5f5;
  width: 300px;
  height: 70px;
  background-color: #474746;
  border-radius: 4px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hello-card > div > img {
  width: 40px;
  height: 40px;
}
.hello-card > div {
  margin: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello-card:hover > .big-icon-play {
  opacity: 1;
  transition: opacity 1s;
}
.big-icon-play{
  opacity: 0;
}
.collection-card {
  width: 250px;
  height: 354px;
  border-radius: 12px;
  margin: 0px 20px;
  background-color: #474746;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.collection-card > .big-icon-play {
  position: relative;
  display: inline;
  top: -178px;
  left: 85px;
  height: 0px;
}
.collection-card:hover > .big-icon-play {
  opacity: 1;
  transition: opacity 1s;
}

.collection-card > div {
  margin: 0px 15px;
}
.collection-card > div > img {
  width: 220px;
  height: 220px;
}
.home-body {
  margin-left: 150px;
  min-height: 95vh;
}
.div-search {
  margin: 30px 0px;
  width: 400px;
  height: 37px;
  background-color: white;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input {
  width: 350px;
  height: 25px;
  opacity: 1;
  margin-left: 5px;
  border: none;
  border-left: 1.4px solid #b9b9b9;
}
.search-input:focus {
  outline: none;
  border-left: 1.4px solid #b9b9b9;
}
.search-btn{
  width: auto;
  height: 37px;
  border-radius: 0px 20px 20px 0px;
  margin: 30px 5px;
}
.search-zone{
  display: flex;
  justify-content: flex-start;
}