@media only screen and (max-width : 600px) {

    .big-title{
        font-size: 25px;
        font-weight: 600;
      }
      .title{
        font-size: 22px;
        font-weight: 600;
      }
      .small-title{
        font-size: 20px;
        font-weight: 500;
      }
      .text{
        font-size: 16px;
        font-weight: 400;
      }
      .small{
        font-size: 11px;
        font-weight: 300;
      }
      .strong{
        font-size: 18px;
        font-weight: 500;
      }


    .header{
        height: 80px;
        width: 100%;
        background-color: #393938;
        z-index: 2;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        margin: auto 10px;
        display: flex;
        align-items: center;
    }
    .logo-illustration > div {
        border: 5px solid red;
        height: 32px;
        width: 32px;
    }
    .logo-illustration > div > div {
        border: 2px solid red;
        height: 15px;
        width: 15px;
        border-radius: 20px;
    }
    .logo > span{
        font-size: 20px;
        font-family: 'Nova Script';
        color: red;
    }
    .user-info{
        width: auto;
        height: 50px;
        margin: auto 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        display: flex;
        align-items: center;
    }
    .user-info:hover{
        position: absolute;
        right: 0px;
        top: 10px;
        width: auto;
        height: 120px;
        background: #D9D9D9;
        border-radius: 0px 0px 12px 12px;
        display: flex;
        flex-direction: column;
        transition: border-radius 1s, width 1s, height 1s;
    }
    .hide-mobile{
        display: none;
    }
    .user-image > img{
        width: 30px;
        height: 30px;
        border-radius: 24px;
    }
    .user-info-icons{
        display: flex;
        justify-content: space-between;
    }
    .nav-barre{
        top: 82px;
        width: 100%;
        height: auto;
        padding-top: 0px;
        z-index: 1;
        display: flex;
        flex-direction: row;
    }
    .nav-list{
        margin: 0px;
        overflow: scroll;
    }
    .nav-list > div{
        margin: 0px 10px;
    }
    .nav-barre > legend{
        display: none;
    }
    .nav-list > div > .link > .hide{
        display: inline;
        color: white;
        margin: 10px;
    }
    .nav-barre-clique > .nav-list > div > .link{
        text-decoration: none;
        margin-left: 15px;
    }
    .disp-flex-col-mobile{
        display: flex;
        flex-direction: row;
    }
    .home{
        margin: 110px 10px;
        height: auto;
        min-height: 90vh;
        width: 90%;
    }
    .hello-collection{
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .hello-card {
        width: 300px;
        margin: 10px;
        border-radius: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hello-card > .link{
        display: flex;
    }
    .hello-card > .link > div > img {
        width: 100%;
        height: 100%;
    }
    .hello-card-div-img{
        width: 70px;
        height: 70px;
    }
    .hello-card > .link  > div {
        margin-right: 10px;
        margin-left: 0px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hello-card > .big-icon-play{
        display: none;
    }
    .collection-card {
        width: 200px;
        height: 280px;
    }
    .collection-card > .big-icon-play {
        position: relative;
        display: inline;
        top: -138px;
        left: 60px;
        opacity: 1;
    }
    .collection-card > .link > div {
        margin: 0px 15px;
    }
    .collection-card-img > img {
        margin-top: 15px;
        width: 180px;
        height: 180px;
    }
    .home-body{
        width: 100%;
        margin-left: 10px;
        min-height: 95vh;
    }
    .search-input {
        width: 230px;
        height: 25px;
    }
    .div-search {
        margin: 30px 0px;
        width: 280px;
        height: 30px;
    }
    .search-btn{
        width: auto;
        height: 30px;
    }


}