@media only screen and (max-width : 600px) {
    .header{
        height: 80px;
        background-color: #393938;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        margin: auto 10px;
        display: flex;
        align-items: center;
    }
    .logo-illustration > div {
        border: 5px solid red;
        height: 32px;
        width: 32px;
    }
    .logo-illustration > div > div {
        border: 2px solid red;
        height: 15px;
        width: 15px;
        border-radius: 20px;
    }
    .logo > span{
        font-size: 20px;
        font-family: 'Nova Script';
        color: red;
    }
    .user-info{
        width: auto;
        height: 50px;
        margin: auto 10px;
        display: flex;
        align-items: center;
        border-radius: 10px;
    }
    .hide-mobile{
        display: none;
    }
    .user-image > img{
        width: 30px;
        height: 30px;
        border-radius: 24px;
    }
    .user-info-icons{
        display: flex;
        justify-content: space-between;
    }





}